.admin-page {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;

    background: linear-gradient(
        135deg,
        #16213e 0%,
        #243b55 50%,
        #0f2027 100%
    );
}

.admin-card {
    width: 900px;
    max-width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.card-body {
    background: white;
}

.form-control,
.form-select {
    height: 50px;
    border-radius: 10px;
}

textarea.form-control {
    height: auto;
}

.form-control:focus,
.form-select:focus {
    border-color: #4f46e5;
    box-shadow: 0 0 0 0.2rem rgba(79, 70, 229, 0.2);
}

.btn-primary {
    background: linear-gradient(90deg, #4f46e5, #2563eb);
    border: none;
    border-radius: 10px;
    font-weight: 600;
    transition: .3s;
}

.btn-primary:hover {
    transform: translateY(-2px);
}